.service_item{
    padding: 16px;
    border:1px solid var(--primary-color);
    border-radius: 10px;
}
.service_img{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    background: var(--secondary-color);
    padding: 8px;
    margin-bottom: 16px;
    line-height: 50px;
}
.service_img img{
    width: 100%;
}
.service_item h5{
    font-size:16px;
    font-weight: 500;
}
.service_item p{
    font-size: 15px;
    color: var(--text-color);
}

@media screen and (max-width:988px){
    .service_img img{
        width: 100%;
    }
    .service_item{
        text-align: center;
    }
}