.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .about-container p{
    line-height: 30px;
    text-align: justify;
  }
  .team-image {
    width: 100%;
    margin: 20px 0;
    border-radius: 10px;
  }
  .highlight{
    font-size: 20px;
    font-weight: bold;
    color: rgb(103, 175, 31);
  }