
.login_img{
    width: 60%;
    text-align: center;
}
.login_img img{
    width: 100%;
    object-fit: contain;
}
.login_form{
    padding: 50px;
    background: var(--secondary-color);
    position: relative;
    margin-bottom: 20px;
}
.login_container{
    margin-top: 100px;
    border-radius: 5px;
}
.login_container .user{
    width: 80px;
    height: 80px;
    position: absolute;
    top: -9%;
    left: 50%;
    transform: translate(-50%,-9%);   
}
.login_form .user img{
    width: 100%;
}
.login_form h2{
    color: #ffffff;
    text-align: center;
    margin-bottom: 25px;
    font-weight: 800;
}
.login_form{
    width: 50%;
}
.login_form input{
    width: 100%;
    padding: 8px 16px;
    border-radius:5px;
    border: none;
    font-size: 16px;
    color: var(--heading-color);
}
.login_form input:focus{
    outline: none !important;
}
.auth_btn{
    background: var(--heading-color) !important;
    width: 100%;
    color: #fff !important;
}
.login_form p{
    font-size: 16px;
    color: #fff;
    margin-top: 24px;
    text-align: center;
}
.login_form a{
    text-decoration: none;
    color: var(--heading-color) !important;
    font-weight: 600;
}

@media screen and (max-width:768px) {
    .login_container{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    .login_form{
        width: 100%;
    }
}