.payment{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.payment a{
  text-decoration: none;
  width: 150px;
  height: 50px;
  background-color: var(--secondary-color);
  text-align: center;
  padding: 10px;
  color: white;
  font-weight: 600;
  font-size: 20px;
  margin-top: 10px;
  border-radius: 5px;
}
.payment a:hover{
  color: #fff;
  background-color: var(--primary-color);
}