.tour_content img{
  width: 100%;
  border-radius: 10px;
  margin-bottom: 32px;
}
.tour_info,
.tour_reviews{
    border-radius: 10px;
    border: 1px solid rgb(226, 220, 220);
    padding: 32px;
}
.tour_info h2{
    font-size: 25px;
    font-weight: 700;
}
.tour_info span{
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    color: var(--text-color);
}
.tour_info span i{
    color: var(--heading-color);
    font-size: 15px;
}
.tour_extra-details{
    display: flex;
    align-items: center;
    column-gap: 32px;
    margin-top: 16px;
    margin-bottom: 38px;
}
.tour_info h6{
    margin-bottom: 16px;
    font-size: 16px;
}
.tour_info p{
    line-height: 30px;
    font-size: 16px;
    color: var(--text-color);
}
.rating_group span{
    font-size: 16px;
    display: flex;
    align-items: center;
    color: var(--secondary-color) !important;
    cursor: pointer;
}
.review_input{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
     border-radius: 12px; 
    border: 1px solid var(--secondary-color);
}
.review_input input{
    width: 100%;
    padding: 8px 0;
    border: none !important;
}
.review_input input:focus{
    outline: none;
}
.review_item{
    display: flex;
    align-items: center;
    column-gap: 16px;
    margin-bottom: 32px;
    padding-top: 15px;
}
.review_item img{
    width: 52px;
    height: 52px;
    border-radius: 50px;
    object-fit: cover;
}
.user_reviews{
    margin-top: 38px;
}
.review_item h5{
    font-size: 16px;
    margin-bottom: 0;
}
.review_item p{
    font-size: 15px;
    color: var(--text-color);
}
.review_item h6{
    font-size: 18px;
    color: var(--text-color);
    font-weight: bold;
}
.review_item span i{
    font-size: 20px;
    color: var(--secondary-color);
}
.review_item span{
    font-weight: 600;
}

@media screen and (max-width:768px){
    .tour_extra-details{
        flex-wrap: wrap;
        gap: 1rem;
    }
    .tour_extra-details span{
        font-size: 15px;
    }
    .tour_extra-details span i{
        font-size: 15px;
    }
    .tour_info span{
        font-size: 10px;
    }
}