.tour-section-content{
    background-color: rgb(229, 243, 229);
    padding: 20px;
}
.tour_card{
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgb(245, 248, 245);
    padding: 10px;
    border-radius: 5px;
}
.tour_img{
    border-radius: 5px 5px 0 0;
}
.tour_img img{
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.card{
    border: none !important;
    box-shadow:rgba(0,0,0,0.2) 0px 18px 50px -10px;
}
.tour_img{
    position: relative;
    cursor: pointer;
}
.tour_img span{
    position: absolute;
    bottom: 0;
    right: 0;
    width: max-content;
    height:max-content;
    z-index:10;
    background-color: rgb(245, 248, 245);
    color: yellowgreen;
    padding: 5px 5px;
    border-radius: 15px 0 0 0;
    font-weight: 600;
}

.card_top span i{
    color: var(--secondary-color);
}
.tour_rating{
    font-size: 15px;
    color: var(--text-color);
}
.tour_location{
    color: var(--heading-color);
    font-weight: 500;
    font-style: 15px;
}
.tour_rating i,
.tour_location i{
 font-style: 16px;
}
.tour_title{
    margin-top: 16px;
    font-size: 14px;
    cursor: pointer;
}
.tour_title a{
    text-decoration: none;
    color: var(--heading-color);
    transition: .3s;
}
.tour_title a:hover{
    color: var(--secondary-color);
}
.card_bottom h5{
    padding-top: 10px;
    font-size: 15px;
    color: var(--secondary-color);
    font-weight: 700;
}
.card_bottom h5 span{
    font-weight: 500;
    color: var(--text-color);
    font-size: 12px;
}
.booking_btn{
    background: var(--secondary-color) !important;
    cursor: pointer !important;
    padding: 5px 5px !important;
}
.booking_btn a{
    text-decoration: none;
    font-size: 14px;
    color: rgb(250, 250, 250);
    font-weight: 700;
}
.booking_btn a:hover{
    color: white;   
}



/* media query */
@media screen and (max-width:578px){
    .tour_card{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        background-color: rgb(245, 248, 245);
        padding: 10px;
        border-radius: 5px;
    }
    .tour_img{
        width: 100%;
    }
    .tour_card p,
    .tour_card span{
        padding: 10px;
    }
}

